php_value upload_max_filesize 500M
php_value post_max_size 500M

RewriteEngine On
RewriteBase http://server.dropper.alexaat.com/

# Don't rewrite real files
RewriteCond %{REQUEST_FILENAME} !-f

# Don't rewrite real folders
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^ serve.php [L]